################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Api/bin/Debug/netcoreapp3.1
/Api/obj
/Core/bin/Debug/netcoreapp3.1
/Core/obj
/Data/bin/Debug/netcoreapp3.1
/Data/obj/Debug/netcoreapp3.1
/Data/obj
/Test/bin/Debug/netcoreapp3.1
/Test/obj
/.vs/EmailCampaign/v16/TestStore/0
